.main {
    position: fixed;
    background: url(../../assets/b18f6a7c829f41c1188e.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.form {
    width: 450px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: left;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
    font-size: 2rem;
    color: #000;
    font-weight: 500;
}

.form .desc {
    text-align: left;
    color: #000;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 500;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 8px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-check-label {
    font-weight: 500;
    margin: auto;
    margin-top: 1px;
    padding-left: 8px;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.5rem;
}

.form-check-input {
    width: 15px;
    height: 15px;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #1d9cbf;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #f33a58;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.form-submit,
.form-resert {
    outline: none;
    font-weight: 600;
    height: 40px;
    width: 200px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.form-resert {
    background-color: #f3441d;
}

.form-resert:hover {
    background-color: #f3441d;
}

.form-submit {
    background-color: #1ee951;
}

.form-submit:hover {
    background-color: #1ee951;
}

.spacer {
    margin-top: 36px;
}

.text-danger {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}