.banner {
    background-image: url('../../../src/assets/meteor.jpg');
    height: 100%;
    background-position: center top;
    background-size: cover;
}

.content {
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
}

.content h1 {
    color: #fff;
    font-weight: 400;
    font-size: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}